<div class="dashboard">
  <!-- Sidebar -->
  <nav class="sidebar">
      <div class="logo">Frozenpork <i class="bi bi-piggy-bank"></i></div>
      <ul>



      <li><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li><a routerLink="/admin/products">Product Manage</a></li>
      <li><a routerLink="/admin/orders">Order Manage</a></li>

      </ul>
  </nav>

 
    
  
    <div class="chart-container">
      <canvas id="salesChart"></canvas>
      <canvas id="tagsChart"></canvas>
    </div>
    
 
  