<div class="dashboard">
  <!-- Sidebar -->
  <nav class="sidebar">
      <div class="logo">Frozenpork <i class="bi bi-piggy-bank"></i></div>
      <ul>



      <li><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li><a routerLink="/admin/products">Product Manage</a></li>
      <li><a routerLink="/admin/orders">Order Manage</a></li>

      </ul>
  </nav>

  <div class="dashboard-container">
    <div class="header">
      <h1>Sales Dashboard</h1>
    </div>
  
    <div class="statistics">
      <div class="stat-card">
        <h2>Users</h2>
        <p>1</p>
      </div>
      <div class="stat-card">
        <h2>Income</h2>
        <p>$6,200</p>
      </div>
    </div>
  
    <div class="chart-container">
      <canvas id="salesChart"></canvas>
    </div>
  
  
  